scikit-learn
scikit-image


git+https://github.com/abhi-kumar/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI


dicttoxml
xmltodict
scipy>=1.10.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability