numpy
scipy
tqdm
pillow
opencv-python
cython
jupyter
notebook
pandas
matplotlib
xmltodict

gluoncv

git+https://github.com/abhi-kumar/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI

pillow>=8.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
