numpy
opencv-python
torch==1.4
torchvision
matplotlib
pycocotools
tqdm
Pillow

tensorboard

jupyter
notebook
dicttoxml
xmltodict

git+https://github.com/NVIDIA/apex.git#egg=apex
pandas
git+https://github.com/abhi-kumar/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
