efficientnet_pytorch


tensorboardX
git+https://github.com/abhi-kumar/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI


dicttoxml
xmltodict
protobuf>=3.20.2 # not directly required, pinned by Snyk to avoid a vulnerability
