pyyaml
EasyDict
protobuf
argparse
scikit-image
git+https://github.com/abhi-kumar/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI

dicttoxml
xmltodict
tensorboardX
networkx>=2.6 # not directly required, pinned by Snyk to avoid a vulnerability
