opencv-python
Cython
matplotlib
numpy
scipy
pyyaml
EasyDict
protobuf
argparse
scikit-image
tqdm
git+https://github.com/abhi-kumar/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI
pandas

jupyter 
notebook

dicttoxml
xmltodict
torch==2.9.0
torchvision
tensorboardX
